<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.practiceBack.mapper.AssetMapper">

    <!-- 자산 전체 조회 -->
    <select id="findAll" resultType="com.example.practiceBack.dto.Asset">
        SELECT
        a.asset_serial_number,
        a.asset_name,
        a.location,
        a.userid,
        u.name as user_name,
        a.device_serial_number,
        d.device_name,
        a.start_date,
        a.end_date
        FROM asset a
        LEFT JOIN user u ON u.userid = a.userid
        LEFT JOIN device d ON d.serial_number = a.device_serial_number
    </select>

    <select id="findBySerialNumber" parameterType="string" resultType="com.example.practiceBack.dto.Asset">
        SELECT
        a.asset_serial_number,
        a.asset_name,
        a.location,
        a.userid,
        u.name as user_name,
        a.device_serial_number,
        a.start_date,
        a.end_date
        FROM asset a
        LEFT JOIN user u ON u.userid = a.userid
        WHERE a.asset_serial_number = #{assetSerialNumber}
    </select>

    <select id="findAssetSnByDeviceSn" parameterType="string" resultType="string">
        SELECT
        asset_serial_number
        FROM asset
        WHERE device_serial_number = #{deviceSerialNumber}
    </select>

    <!-- 자산 등록 -->
    <insert id="insertAsset" parameterType="com.example.practiceBack.dto.Asset">
        INSERT INTO asset (
        asset_serial_number,
        asset_name,
        location,
        userid,
        device_serial_number,
        start_date,
        end_date
        ) VALUES (
        #{assetSerialNumber},
        #{assetName},
        #{location},
        #{userid},
        #{deviceSerialNumber},
        #{startDate},
        #{endDate}
        );
    </insert>

    <update id="updateAsset" parameterType="com.example.practiceBack.dto.Asset">
        UPDATE asset
        SET
        asset_name = #{assetName},
        location = #{location},
        userid = #{userid},
        device_serial_number = #{deviceSerialNumber},
        start_date = #{startDate},
        end_date = #{endDate}
        WHERE asset_serial_number = #{assetSerialNumber}
    </update>

    <delete id="deleteAsset" parameterType="string">
        DELETE FROM asset
        WHERE asset_serial_number = #{assetSerialNumber}
    </delete>

    <update id="clearUser" parameterType="string">
        UPDATE asset
        SET userid = NULL
        WHERE userid = #{userid}
    </update>
</mapper>
