<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.practiceBack.mapper.DeviceMapper">

    <select id="findAll" resultType="com.example.practiceBack.dto.Device">
        SELECT
        d.id,
        d.serial_number,
        d.cat_id,
        c.cat_name,
        d.device_name,
        d.company,
        d.purchase_date
        FROM device d
        LEFT JOIN category c ON c.cat_id = d.cat_id;
    </select>

    <insert id="insertDevice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO device (serial_number, cat_id, device_name, company, purchase_date)
        VALUES (#{serialNumber}, #{catId}, #{deviceName}, #{company}, #{purchaseDate});
    </insert>

    <delete id="deleteBySerialNumber" parameterType="string">
        DELETE FROM device
        WHERE serial_number = #{serialNumber};
    </delete>

</mapper>
