<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.practiceBack.mapper.UserMapper">

    <!--회원가입-->
    <insert id="insertUser" parameterType="com.example.practiceBack.dto.User">
        INSERT INTO user (userid, password, email, name)
        VALUES (#{userid}, #{password}, #{email}, #{name});
    </insert>

    <select id="findAll" resultType="com.example.practiceBack.dto.User">
        SELECT
        u.userid,
        u.name,
        u.email,
        u.del_flg,
        u.role,
        r.role_name
        FROM user u
        LEFT JOIN role r ON u.role = r.role_id;
    </select>

    <select id="findByUserid" parameterType="string" resultType="com.example.practiceBack.dto.User">
        SELECT
        u.userid,
        u.name,
        u.password,
        u.email,
        u.photo_url,
        u.role,
        r.role_name
        FROM user u
        LEFT JOIN role r ON u.role = r.role_id
        WHERE userid = #{userid}
        AND NOT del_flg = TRUE;
    </select>

    <update id="updateUser" parameterType="com.example.practiceBack.dto.User">
        UPDATE user
        SET
        password = #{password},
        email = #{email},
        photo_url = #{photoUrl}
        WHERE userid = #{userid};
    </update>

    <update id="updateRefreshToken">
        UPDATE user
        SET
        refresh_token = #{refreshToken}
        WHERE userid = #{userid};
    </update>

    <update id="deleteUser">
        UPDATE user
        SET
        del_flg = TRUE
        WHERE userid = #{userid};
    </update>

    <update id="updateRole" parameterType="com.example.practiceBack.dto.User">
        UPDATE user
        SET
        role = #{role}
        WHERE userid = #{userid};
    </update>

</mapper>
